$color-primary-gradient: linear-gradient(90deg, #12C2E9, #C471ED, #F64F59);
$color-primary-gradient-transparent: linear-gradient(88deg, rgba(18, 194, 233, 0.1) 0%, rgba(196, 113, 237, 0.1) 52.6%, rgba(246, 79, 89, 0.1) 100%), rgba(255, 255, 255, 0.75);

$color-black: #000000;
$color-white: #ffffff;

$color-grey-bg: #F7F7F7;

$color-grey-text: #7D7D7D;