body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 600;
}

.heading-1 {
    font-weight: 900;
    font-size: 7.2rem;
    line-height: 6.8rem;
    letter-spacing: -0.03rem;
    text-transform: capitalize;
}

.heading-2 {
    font-weight: 900;
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: -0.05rem;
    text-transform: capitalize;
}

.heading-3 {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.02rem;
    text-transform: capitalize;
}

.heading-4 {
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: -0.02rem;
}

.text-link {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.text-small {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
}